[submodule "external/sam2-sequential"]
	path = external/sam2-sequential
	url = https://github.com/ThomasMPont/sam2-sequential.git
[submodule "external/Practical-RIFE"]
	path = external/Practical-RIFE
	url = https://github.com/ThomasMPont/Practical-RIFE.git
[submodule "external/LightGlue"]
	path = external/LightGlue
	url = https://github.com/cvg/LightGlue.git
